
<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
  <span>Sets</span>
  <a class="d-flex align-items-center text-muted" href="/kit/import" aria-label="Import Kit">
    {{ template "icons/plus-circle" }}
  </a>
</h6>

<ul class="nav flex-column">
  {{ range .AllKits }}
  <li class="nav-item">
    {{ $link := (print "/kit/" .Number ) }}
    <a class="nav-link {{ if eq _page.Path $link }}active{{end}}" href="{{ $link }}">
      {{ template "icons/archive" }}
      {{ .Name }}
    </a>
  </li>
  {{ end}}
</ul>

