
<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
  <span><a href="/models">Models</a></span>
  <a class="d-flex align-items-center text-muted" href="/create" aria-label="Add a new report">
    {{ template "icons/plus-circle" }}
  </a>
</h6>

<ul class="nav flex-column">
  {{ range .Models }}
  <li class="nav-item">
    <a class="nav-link {{ if eq . "two" }}active{{end}}" href="/models/{{.}}">
      {{ template "icons/file" }}
      {{ . }}
    </a>
  </li>
  {{ end}}
</ul>
