
<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
  <span>Sets</span>
  <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
    {{ template "icons/plus-circle" }}
  </a>
</h6>

<ul class="nav flex-column mb-2">
  <li class="nav-item">
    <a class="nav-link" href="#">
      {{ template "icons/file" }}
      Current month
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      {{ template "icons/file" }}
      Last quarter
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      {{ template "icons/file" }}
      Social engagement
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      {{ template "icons/file" }}
      Year-end sale
    </a>
  </li>
</ul>
