<div class="row">
  <div class="col-md-9">

    <div class="mb-2 mb-md-0 pt-3 pb-2 mb-3 d-flex justify-content-between">

      <div class="btn-toolbar">
        <div class="input-group input-group-sm mr-2">
          <input type="text" class="form-control" placeholder="filter...">
        </div>

        <div class="btn-group btn-group-toggle mr-2" data-toggle="buttons">
          <label class="btn btn-sm btn-outline-secondary">
            <input type="radio" name="filter-inventory" value="all"> All
          </label>
          <label class="btn btn-sm btn-outline-secondary">
            <input type="radio" name="filter-inventory" value="needed"> Needed
          </label>
          <label class="btn btn-sm btn-outline-secondary">
            <input type="radio" name="filter-inventory" value="owned"> Owned
          </label>
        </div>

        <div class="input-group input-group-sm mr-2">
          <select class="custom-select" id="filter-colour">
            <option value="none">Any Colour</option>
            {{ range .Project.Colours }}
              <option value="{{ .ID }}">{{ .Name }}</option>
            {{ end }}
          </select>
        </div>
      </div>

      <form method="POST">
        <a class="btn btn-sm btn-outline-secondary" href="{{ addquery _page.URL "edit" "true" }}" role="button">Edit</a>

        <button type="submit" class="btn btn-sm btn-outline-secondary" name="action" value="exportWanted">
          Export
        </button>
      </form>
    </div>

    {{ $isEdit := and _user.Authenticated (hasquery "edit" "true") }}
    {{ if  $isEdit }}
    <form method="POST" onsubmit="return submitForm(this, event);">
    {{ end }}

    <table class="table">

      <thead>
        <tr class="reactable-column-header">
          <th tabindex="0" width="66"><strong class="name-header">Image</strong></th>
          <th tabindex="0"><strong class="name-header">Name</strong></th>
          <th tabindex="0"><strong class="name-header">Quantity</strong></th>
        </tr>
      </thead>

      <tbody class="reactable-data" id="parts">

        {{ range .Project.Parts }}
        <tr data-part-colour="{{ .ColourID }}" data-part-inventory="{{ .TotalInventory }}" data-part-quantity="{{ .Quantity }}">
          <td width="66">
            <img
              loading="{{ if _user.Authenticated }}eager{{else}}lazy{{end}}"
              src="/static/img/parts/{{ .ID }}-{{ .ColourID }}.png"
              alt="part {{ .ID }}"
              width="66px"
            >
          </td>
          <td>
            <p>{{ .Name }}</p>
            <p class="mb-0">{{ template "swatch" . }} <a href="#">{{ .ID }}</a></p>
          </td>
          <td {{ if .KitQuantity }}class="table-marker-right"{{end}}>
            {{ if $isEdit }}
              {{ template "project/quantity_edit" . }}
            {{ else }}
              {{ template "project/quantity" . }}
            {{ end }}
          </td>
        </tr>
        {{ end }}

      </tbody>
    </table>

    {{ if $isEdit  }}
    <div class="row fixed-bottom">
      <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="row">
          <div class="col-md-9">
            <div class="p-2">
              <div class="d-flex justify-content-end bg-light ">

                <a class="btn btn-outline-secondary mr-1" href="{{ removequery _page.URL "edit" }}" role="button">Cancel</a>

                <button type="submit" class="btn btn-secondary" name="action" value="updateQuantities">
                  Save
                </button>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>


    </form>
    {{ end }}

    <script>
      var params = new URLSearchParams(window.location.search);



      var colourSelector = document.getElementById("filter-colour")
      var filterColour = params.get("filter-colour") || "none"

      for (var i = 0, option; option = colourSelector.options[i]; i++) {
        if (option.value == filterColour) {
          colourSelector.selectedIndex = i;
          break
        }
      }

      colourSelector.addEventListener("change", (e) => {
        const filterColour = e.target.value

        params.set("filter-colour", filterColour)
        window.location.search = params.toString()
      })


      // ---

      var inventorySelector = document.getElementsByName("filter-inventory")
      var filterInventory = params.get("filter-inventory") || "all"

      var handler = e => {
        const filterInventory = e.target.value

        params.set("filter-inventory", filterInventory)
        window.location.search = params.toString()
      }

      inventorySelector.forEach(s => {
        s.addEventListener("change", handler)

        if (s.value == filterInventory) {
          s.parentElement.classList.add("active")
        }
      })

      // --------
      var table = document.getElementById("parts")

      for (var i = 0, row; row = table.rows[i]; i++) {

        var colourMatch = (filterColour == "none" || row.getAttribute("data-part-colour") == filterColour)
        var inventoryMatch = true

        if (filterInventory == "needed") {
          inventoryMatch = row.getAttribute("data-part-inventory") < row.getAttribute("data-part-quantity")
        }

        if (filterInventory == "owned") {
          inventoryMatch = row.getAttribute("data-part-inventory") >= row.getAttribute("data-part-quantity")
        }

        row.style.display = (colourMatch && inventoryMatch) ? "table-row" : "none"

      }

    </script>
  </div>

  <div class="col-md-3">
    {{ template "project/kits" . }}
    {{ template "project/events" . }}
  </div>

</div>