{{ $isEdit := and _user.Authenticated (hasquery "edit" "true") }}
{{ if  $isEdit }}
<form method="POST" onsubmit="return submitForm(this, event);">
{{ end }}

<table class="table">

  <thead>
    <tr class="reactable-column-header">
      <th tabindex="0" width="66">
        <strong class="name-header">Image</strong>
      </th>
      <th tabindex="0"><strong class="name-header">
        <a href="{{ addquery _page.URL "sort" "name" }}">Name</a> | <a href="{{ addquery _page.URL "sort" "colour" }}">Colour</a></strong>
      </th>
      <th tabindex="0">
        <strong class="name-header">Quantity</strong>
      </th>
    </tr>
  </thead>

  <tbody class="reactable-data" id="parts">

    {{ range .Project.Parts }}
    <tr data-part-name="{{ .Name }}" data-part-key="{{ .Key }}">
      <td width="66">
        <img
          loading="{{ if _user.Authenticated }}eager{{else}}lazy{{end}}"
          src="/static/img/parts/{{ .ImagePath }}"
          alt="{{ .Key }}"
          width="66px"
        >
      </td>
      <td>
        <p>{{ .Name }}</p>
        <p class="mb-0">{{ template "swatch" . }} <a href="#">{{ .ID }}</a></p>
      </td>
      <td {{ if .KitQuantity }}class="table-marker-right"{{end}}>
        {{ if $isEdit }}
          {{ template "project/quantity_edit" . }}
        {{ else }}
          {{ template "project/quantity" . }}
        {{ end }}
      </td>
    </tr>
    {{ end }}

  </tbody>
</table>

{{ if $isEdit  }}
<div class="row fixed-bottom">
  <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="row">
      <div class="col-md-9">
        <div class="p-2">
          <div class="d-flex justify-content-end bg-light ">

            <a class="btn btn-outline-secondary mr-1" href="{{ removequery _page.URL "edit" }}" role="button">Cancel</a>

            <button type="submit" class="btn btn-secondary" name="action" value="updateQuantities">
              Save
            </button>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>


</form>
{{ end }}

<script>
  var params = new URLSearchParams(window.location.search);

  var colourSelector = document.getElementById("filter-colour")
  var filterColour = params.get("filter-colour") || "none"

  for (var i = 0, option; option = colourSelector.options[i]; i++) {
    if (option.value == filterColour) {
      colourSelector.selectedIndex = i;
      break
    }
  }

  colourSelector.addEventListener("change", (e) => {
    const filterColour = e.target.value

    params.set("filter-colour", filterColour)
    window.location.search = params.toString()
  })


  // ---

  var inventorySelector = document.getElementsByName("filter-inventory")
  var filterInventory = params.get("filter-inventory") || "all"

  var handler = e => {
    const filterInventory = e.target.value

    params.set("filter-inventory", filterInventory)
    window.location.search = params.toString()
  }

  inventorySelector.forEach(s => {
    s.addEventListener("change", handler)

    if (s.value == filterInventory) {
      s.parentElement.classList.add("active")
    }
  })

  // ---

  var filter = document.getElementById("filter-name")
  var table = document.getElementById("parts")

  filter.addEventListener("input", () => {
    var value = (filter.value || "").trim().toLowerCase()

    for (var i = 0, row; row = table.rows[i]; i++) {

      var visible = (filter == "") || row.getAttribute("data-part-name").toLowerCase().includes(value)

      row.style.display = visible ? "table-row" : "none"
    }
  })


</script>