<div class="row">
  <div class="col-md-9">


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
      <h3>Parts</h3>
      <div class="btn-toolbar mb-2 mb-md-0">

        <div class="input-group input-group-sm mr-2">
          <input type="text" class="form-control" placeholder="filter...">
        </div>

        <div class="btn-group btn-group-toggle mr-2" data-toggle="buttons">
          <label class="btn btn-sm btn-outline-secondary">
            <input type="radio" name="filter-inventory" value="all"> All
          </label>
          <label class="btn btn-sm btn-outline-secondary">
            <input type="radio" name="filter-inventory" value="needed"> Needed
          </label>
          <label class="btn btn-sm btn-outline-secondary">
            <input type="radio" name="filter-inventory" value="owned"> Owned
          </label>
        </div>

        <div class="input-group input-group-sm mr-2">
          <select class="custom-select" id="filter-colour">
            <option value="none">Any Colour</option>
            {{ range .Project.Colours }}
              <option value="{{ .ID }}">{{ .Name }}</option>
            {{ end }}
          </select>
        </div>

        <form method="POST">
          <button type="submit" class="btn btn-sm btn-outline-secondary ml-5" name="action" value="exportWanted">
            Export
          </button>
        </form>
      </div>
    </div>

    <table class="table">

      <thead>
        <tr class="reactable-column-header">
          <th tabindex="0" width="66"><strong class="name-header">Image</strong></th>
          <th tabindex="0"><strong class="name-header">Part No</strong></th>
          <th tabindex="0"><strong class="name-header">Name</strong></th>
          <th tabindex="0"><strong class="name-header">Colour</strong></th>
          <th tabindex="0"><strong class="name-header">Quantity</strong></th>
        </tr>
      </thead>

      <tbody class="reactable-data" id="parts">

        {{ range .Project.Parts }}
        <tr data-part-colour="{{ .ColourID }}" data-part-inventory="{{ .TotalInventory }}" data-part-quantity="{{ .Quantity }}">
          <td width="66">
            <img
              loading="{{ if _user.Authenticated }}eager{{else}}lazy{{end}}"
              src="/static/img/parts/{{ .ID }}-{{ .ColourID }}.png"
              alt="part {{ .ID }}"
              width="66px"
            >
          </td>
          <td>{{ .ID }}</td>
          <td>{{ .Name }}</td>
          <td>{{ template "swatch" . }}</td>
          <td {{ if .KitQuantity }}class="table-marker-right"{{end}}>{{ template "project/quantity" . }}</td>
        </tr>
        {{ end }}

      </tbody>
    </table>


    <script>
      var params = new URLSearchParams(window.location.search);



      var colourSelector = document.getElementById("filter-colour")
      var filterColour = params.get("filter-colour") || "none"

      for (var i = 0, option; option = colourSelector.options[i]; i++) {
        if (option.value == filterColour) {
          colourSelector.selectedIndex = i;
          break
        }
      }

      colourSelector.addEventListener("change", (e) => {
        const filterColour = e.target.value

        params.set("filter-colour", filterColour)
        window.location.search = params.toString()
      })


      // ---

      var inventorySelector = document.getElementsByName("filter-inventory")
      var filterInventory = params.get("filter-inventory") || "all"

      var handler = e => {
        const filterInventory = e.target.value

        params.set("filter-inventory", filterInventory)
        window.location.search = params.toString()
      }

      inventorySelector.forEach(s => {
        s.addEventListener("change", handler)

        if (s.value == filterInventory) {
          s.parentElement.classList.add("active")
        }
      })

      // --------
      var table = document.getElementById("parts")

      for (var i = 0, row; row = table.rows[i]; i++) {

        var colourMatch = (filterColour == "none" || row.getAttribute("data-part-colour") == filterColour)
        var inventoryMatch = true

        if (filterInventory == "needed") {
          inventoryMatch = row.getAttribute("data-part-inventory") < row.getAttribute("data-part-quantity")
        }

        if (filterInventory == "owned") {
          inventoryMatch = row.getAttribute("data-part-inventory") >= row.getAttribute("data-part-quantity")
        }

        row.style.display = (colourMatch && inventoryMatch) ? "table-row" : "none"

      }

    </script>
  </div>

  <div class="col-md-3">
    {{ template "project/kits" . }}
    {{ template "project/events" . }}
  </div>

</div>